body {
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* antd 组件的样式在此处无效 */

.tools_active {
	  border: 1px solid white;
    background: gray;
}

.tools_not_active {
	  border: none;
    stroke: white;
}

.tools_not_active:hover {
	  border: 1px solid rgba(255, 255, 255, 0.7);
}

.tools_not_active, .tools_active {
	  width: 30px;
    height: 30px;
    display: block;
    margin: 30px auto;
    border-radius: 10%;
    stroke: 
}

line.editable, ellipse, rect {
  cursor: pointer;
}

ellipse.block:hover {
  cursor: nwse-resize;
}

line.editable:hover {
  transform: scale(2.5);
}
text {
  user-select: none;
}

@media print {
  .header, .ant-layout-sider, .ant-layout-footer {
    display: none !important;
  }
  .ant-layout-content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  svg {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    transform: scale(1) translate(0, 0);
  }

  #grid, #axis, #editor {
    display: none;
  }

}